.app-wrapper{
  display: grid;
  margin: 0 auto;
  width: 1200px;
grid-template-areas:
"header header"
"navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
grid-area: header;
background-color: darkred;
}
.header img {
  width: 40px;
}

.navbar{
  grid-area: navbar;
  background-color: darkred;
}

.content{
  grid-area: content;
  background-color: darkred;
}
.content img{
  width: 1000px;

}